<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title d-inline">Order</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 5%">Id</th>
            <th style="width: 30%">name</th>
            <th style="width: 15%">Date Create</th>
            <th style="width: 20%">Address</th>
            <th style="width: 10%">Phone</th>
            <th style="width: 10%">Status</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <% orderList.forEach((el,index) => { %>
          <tr>
            <td style="width: 5%"><%= index + 1%></td>
            <td style="width: 30%"><%= el.name %></td>
            <td style="width: 15%"><%= el.dateCreate.toDateString() %></td>
            <td style="width: 20%"><%= el.address %></td>
            <td style="width: 10%"><%= el.phone %></td>
            <td style="width: 10%">
              <% if(el.state == -1){ %>
              <label class="badge badge-gradient-danger">CANCEL</label>
              <% } %> <% if(el.state == 0){ %>
              <label class="badge badge-gradient-info">ON HOLD</label>
              <% } %> <% if(el.state == 1){ %>
              <label class="badge badge-gradient-warning">PROGRESS</label>
              <% } %> <% if(el.state == 2){ %>
              <label class="badge badge-gradient-success">DONE</label>
              <% } %>
            </td>
            <td style="width: 10%">
              <% if(el.state == 2 || el.state == -1){ %>
              <a class="btn btn-gradient-info btn-fw">Edit</a>
              <% }else{ %>
              <a href="/admin/order/edit/<%= el._id %>" class="btn btn-gradient-info btn-fw">Edit</a>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <ul class="pagination justify-content-center">
      <% if(currentPage > 1){ %>
      <li class="page-item">
        <a class="page-link" href="/admin/order?page=<%= +currentPage - 1 %>">Previous</a>
      </li>
      <% } %> <% for(let i=1; i <= totalPage; i++){ %>
      <li class="page-item">
        <a class="page-link" href="/admin/order?page=<%= i %>"><%= i %> </a>
      </li>
      <% } %> <% if(currentPage < totalPage){ %>
      <li class="page-item">
        <a class="page-link" href="/admin/order?page=<%= +currentPage + 1 %>">Next</a>
      </li>
      <% } %>
    </ul>
  </div>
</div>