<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title d-inline">Brand</h4>
            <a href="/admin/product/create" class="btn btn-gradient-success btn-fw float-right">Add Product</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:5%"> Id </th>
                        <th style="width:20%"> Name </th>
                        <th style="width:10%"> Price </th>
                        <th style="width:10%"> Type </th>
                        <th style="width:10%"> Date Create </th>
                        <th style="width:20%"> Creator </th>
                        <th style="width:5%"> IsHide </th>
                        <th style="width:20%"> </th>
                    </tr>
                </thead>
                <tbody>
                    <% productList.forEach((el,index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= el.name %></td>
                        <td><%= el.price %>đ</td>
                        <td><%= el.type %></td>
                        <td><%= el.dateCreate.toDateString() %></td>
                        <td><%= el.creator %></td>
                        <td><%= el.isHide %></td>
                        <td>
                            <a href="/admin/product/edit/<%= el._id %>" class="btn btn-gradient-info btn-fw">Edit</a>
                            <a href="/admin/product/delete/<%= el._id %>?fileName=<%= el.logo %>"
                                class="btn btn-gradient-danger  btn-fw">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <!-- <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
    </div>

</div>